@font-size-big:                          .16rem;
@font-size-medium:                       .14rem;
@font-size-small:                        .12rem;
@font-color-white:                       #ffffff;
@font-color-error:                       #f95A56;
@prefixCls:                              cefc-mesTemp;

.f12d {
  font-size: @font-size-small;
  color: @font-color-white;
}

.f14r {
  font-size: @font-size-medium;
  color: @font-color-error;
}

.f16r {
  font-size: @font-size-big;
  color: @font-color-error;
}

.f16d {
  font-size: @font-size-big;
  color: @font-color-white;
}

.mr10 {
  margin-right: .1rem;
}

.mt8 {
  margin-top: .08rem;
}

.mt18 {
  margin-top: .18rem;
}

.mb8 {
  margin-top: .08rem;
}

.plr15 {
  padding: 0 .15rem
}

.pt14 {
  padding-top: .14rem;
}

.pt30 {
  padding-top: .3rem;
}

.pb14 {
  padding-bottom: .14rem;
}

.pb30 {
  padding-bottom: .3rem;
}

.l2 {
  line-height: .2rem;
}

.@{prefixCls}-flexWrap {
  display: -webkit-box;     display: -moz-box;     display: -ms-flexbox;     display: -webkit-flex;     display: flex;
  align-items: center;
  justify-content: center;

  .@{prefixCls}-flexItem {
    flex: 1
  }
}

.@{prefixCls}-lineClamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.@{prefixCls}-iconWrap {
  .w50 {
    width: .5rem;
    height: .5rem;
  }

  .w16 {
    width: .16rem;
    height: .16rem;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.@{prefixCls}-succ {
  background-color: #84CA34;
}

.@{prefixCls}-fail {
  background-color: #F95A56;
}

.@{prefixCls}-waring {
  background-color: #feaa33;
}

.@{prefixCls}-error {
  background-color: #ffffff;
}
